@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Inter:wght@400;500;600;700&family=Lato&family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*padding: 60px 150px;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Light.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GraphikMedium";
  src: url("../fonts/graphik/GraphikMedium.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GraphikBold";
  src: url("../fonts/graphik/GraphikBold.otf");
  font-style: normal;
  font-display: swap;
}

html {
  overflow-x: hidden;
}

.fade:not(.show) {
  opacity: 1;
}

header {
  display: flex;
  flex-direction: column;
  background: -webkit-gradient(180deg, rgba(6, 19, 40, 0.8) 35.54%, rgba(6, 19, 40, 0.42) 107.28%), url(../images/index/conteneur.png);
  background: linear-gradient(180deg, rgba(6, 19, 40, 0.8) 35.54%, rgba(6, 19, 40, 0.42) 107.28%), url(../images/index/conteneur.png);
  background-size: cover;
  background-position: bottom;
}

.logo {
  flex: 0;
  width: 169px;
  max-height: 42px;
}

header .menus {
  flex: 1;
  padding: 22px 44px;
}

header .menus nav ul {
  list-style: none;
  display: flex;
  gap: 37px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: Roboto;
}

header .other_menu nav ul {
  list-style: none;
  display: flex;
  padding-top: 18px;
  gap: 16px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: Roboto;
}

header .menus nav ul li a,
header .other_menu nav ul li a {
  font-size: 14px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  position: relative;
  color: #fff;
}

header .menus nav>ul>li:hover>a,
header .other_menu nav>ul>li:hover>a {
  color: #FE8D15;
}

header .menus nav ul li a::after,
header .other_menu nav ul li a::after {
  content: "";
  width: 0;
  position: absolute;
  height: 2px;
  background: #FE8D15;
  left: 0;
  bottom: -5px;
  transition: all 0.2s;
}

header .menus nav ul li:hover a::after,
header .other_menu nav ul li:hover a::after {
  width: 100%;
}

header .menus nav ul li:last-child a::after,
header .other_menu nav ul li:last-child a::after {
  display: none;
}

header .other_menu nav ul .user {
  display: flex;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 9px;
  padding-right: 25px;
  padding-left: 25px;
  align-items: center;
}

header .other_menu nav ul .user a {
  color: black;
}

header .other_menu nav ul .user img {
  margin-right: 8px;
}

@media screen and (max-width: 981px) {
  header .menus {
    display: none;
  }
}

header .menus-hamburger {
  display: none;
  /*Responsive*/
}

header .menus-hamburger .menus-mobile {
  display: none;
}

header .menus-hamburger .fa-bars {
  color: #FE8D15;
}

header .menus-hamburger .fa-bars:hover {
  cursor: pointer;
}

@media screen and (max-width: 981px) {
  header .menus-hamburger {
    display: block;
    margin-right: 15px;
  }

  .other_menu {
    display: none;
  }
}

header .menus-hamburger .show-menu-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #FE8D15;
  position: fixed;
  height: 100vh;
  top: 0;
  justify-content: center;
  align-items: center;
  left: 0;
  font-size: 2rem;
  font-family: Roboto;
  list-style: none;
  z-index: 99;
}

header .menus-hamburger .show-menu-right .fa-xmark {
  color: white;
  position: absolute;
  top: 28px;
  right: 54px;
}

header .menus-hamburger .show-menu-right .fa-xmark:hover {
  color: #ccc;
  cursor: pointer;
}

header .menus-hamburger .show-menu-right i {
  font-size: 2rem;
}

header .menus-hamburger .show-menu-right i:hover {
  color: #ccc;
}

header .menus-hamburger .show-menu-right a {
  text-decoration: none;
  color: white;
}

header .menus-hamburger .show-menu-right a:hover {
  color: #ccc;
}

header .menus-hamburger .show-menu-right nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

@media screen and (max-width: 981px) {
  header {
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
  }
}

.cover img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

/* header */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header#sticker {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  padding: 0;
}

header .menus,
header .other_menu {
  padding: 0;
}

header .menus nav ul,
header .other_menu nav ul li {
  margin-bottom: 0;
}

nav li {
  position: relative;
}

nav li ul {
  position: absolute;
  top: 100%;
  padding-left: 0;
  opacity: 0;
  padding-top: 5px;
}

nav li:hover ul {
  opacity: 1;
}

nav li:hover ul li:hover a {
  color: #FE8D15;
}

header .banniere {
  margin-top: 106px;
  color: #fff;
}

header .banniere .txt_banniere {
  font-family: GraphikBold;
  font-style: normal;
  font-size: 64px;
  line-height: 84px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 25px;
}

header .banniere .box_banniere {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.15);
  padding: 37px 58px;
}

header .banniere .box_banniere:hover {
  background: #FFFFFF;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.15);
  color: #FE8D15;
}

header .banniere .box_banniere p {
  margin-top: 16px;
  font-family: GraphikBold;
  font-size: 25px;
}

.apropos {
  margin: 107px 0px;
}

.apropos button {
  color: #FE8D15;
  background-color: transparent;
  border: 1.5px solid #F8850B;
  padding: 16px 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.services button {
  color: #FE8D15;
  background-color: transparent;
  border: none;
  padding: 16px 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.services .box_service {
  padding: 49px 144px;
}

.apropos .div_image {
  padding: 0px 168px 0px 30px;
}

@media screen and (max-width: 991px) {
  .apropos .div_image {
    padding: 0px 20px 10px 20px;
  }

  .apropos p,
  .apropos button {
    margin: 0px 68px;
  }
}

/*pourquoi nous*/
.why_us_section {
  background: -webkit-gradient(180deg,
      #061328 42.26%,
      rgba(6, 19, 40, 0.92) 90.08%,
      rgba(6, 19, 40, 0.6) 117.52%), url(../images/index/camion.png);
  background: linear-gradient(180deg,
      #061328 42.26%,
      rgba(6, 19, 40, 0.92) 90.08%,
      rgba(6, 19, 40, 0.6) 117.52%), url(../images/index/camion_bg.png);
  background-size: cover;
  background-position: bottom;
}

.button_caroussel_why {
  background-color: transparent;
  border: 1px solid white;
  width: 75px;
  height: 75px;
  border-radius: 75px;
}

.card_caroussel {
  height: 543px;
  color: #fff;
  border: 1px solid #fff;
  margin-right: 33px
}

.bar_why {
  height: 127px;
  margin: auto;
  background: rgba(1, 8, 20, 0.5);
}

/*compare*/
.radio-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.radio-buttons label {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.radio-buttons input[type="radio"] {
  margin-right: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  padding: 10px;
  border: 1px solid rgba(42, 43, 42, 0.5);
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.radio-buttons input[type="radio"]:checked {
  border-color: rgba(42, 43, 42, 0.5);
  background-color: #FE8D15;
}

.img_comparaison {
  height: 100%;
  width: 300px;
}

/*temoignage*/
.card_tem_container {
  width: 362px;
}

.card_item_mid {
  margin-top: 160px;
}

.card_temoin {
  background: #FFFFFF;
  border: 0.97097px solid rgba(69, 88, 128, 0.2);
  box-shadow: 0px 3.88388px 29.1291px 4.85485px rgba(0, 0, 0, 0.05);
  border-radius: 3.88388px;
}

@media screen and (max-width: 991px) {
  .card_item_mid {
    margin: 10px 0px;
  }
}

/*prestation*/
.top_bar_prestation ul {
  display: flex;
}

.top_bar_prestation ul li {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 55px;
  color: rgba(42, 43, 42, 0.7);
  list-style: none;
  margin-right: 32px;
}

.top_bar_prestation ul li.bar_selected_prestation {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 55px;
  color: #2A2B2A;
  border-bottom: 10px solid #FE8D15;
}

@media screen and (max-width: 768px) {
  .top_bar_prestation ul {
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
}

/*FOOTER*/
footer {
  padding: 60px 150px;
}

footer p {
  color: #0A142F;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  font-family: 'Poppins';
}

footer .gros_titre {
  display: block;
  color: #0A142F;
  font-size: 16px;
  font-weight: 700;
  font-family: GraphikMedium;
  margin-bottom: 15px;
}

footer .div_input input {
  padding: 6px;
  font-size: 14px;
  font-weight: 400;
}

footer .div_input button {
  padding: 8px 12px;
  background-color: #FE8D15;
  color: white;
  border: none;
}

footer .texte_input {
  font-size: 12px;
  font-weight: 400;
}

footer ul li {
  list-style-type: none;
  margin: 18px 0px;
}

footer .link_terms ul li a,
footer .link_social ul li a {

  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins';
  color: #0A142F;
  text-decoration: none;
  padding: 0px 15px;
}